# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configuração do banco de dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=google_integration
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

# Configuração do Google Service Account
ADMIN_EMAIL=admin@seudominio.com.br
GOOGLE_CLIENT_EMAIL=seu-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSua chave privada aqui...\n-----END PRIVATE KEY-----"

# URL do Webhook (para produção, use HTTPS)
WEBHOOK_URL=http://localhost:3000/api/webhook

# Configurações de Log
LOG_LEVEL=info 